{% extends "index.html" %}

{% block content %}

<h2>Editar Avaliação Física</h2>

<div class="form">

    <form method="POST">

        <h3>--- Geral ---</h3>

        <label>Data</label>
        <input type="text" name="data" value="{{ avaliacao.data }}" required>

        <label>Peso (kg)</label>
        <input type="text" name="peso" value="{{ avaliacao.peso }}" required>

        <label>Altura (m)</label>
        <input type="text" name="altura" value="{{ avaliacao.altura }}" required>

        <label>Idade</label>
        <input type="number" name="idade" value="{{ avaliacao.idade }}" required>


        <h3>--- Dobras Cutâneas ---</h3>

        <label>Subescapular</label>
        <input type="text" name="subescapular" value="{{ dobras.subescapular }}">

        <label>Bicipital</label>
        <input type="text" name="bicipital" value="{{ dobras.bicipital }}">

        <label>Tricipital</label>
        <input type="text" name="tricipital" value="{{ dobras.tricipital }}">

        <label>Axilar Média</label>
        <input type="text" name="axilar_media" value="{{ dobras.axilar_media }}">

        <label>Supra Ilíaca</label>
        <input type="text" name="supra_iliaca" value="{{ dobras.supra_iliaca }}">

        <label>Supra Espinhal</label>
        <input type="text" name="supra_espinhal" value="{{ dobras.supra_espinhal }}">

        <label>Peitoral</label>
        <input type="text" name="peitoral" value="{{ dobras.peitoral }}">

        <label>Abdominal</label>
        <input type="text" name="abdominal" value="{{ dobras.abdominal }}">

        <label>Coxa</label>
        <input type="text" name="coxa" value="{{ dobras.coxa }}">

        <label>Panturrilha</label>
        <input type="text" name="panturrilha" value="{{ dobras.panturrilha }}">


        <h3>--- Perímetros Corporais ---</h3>

        <label>Ombro</label>
        <input type="text" name="ombro" value="{{ perimetros.ombro }}">

        <label>Tórax Inspirado</label>
        <input type="text" name="torax_inspirado" value="{{ perimetros.torax_inspirado }}">

        <label>Cintura</label>
        <input type="text" name="cintura" value="{{ perimetros.cintura }}">

        <label>Abdômen</label>
        <input type="text" name="abdomen" value="{{ perimetros.abdomen }}">

        <label>Quadril</label>
        <input type="text" name="quadril" value="{{ perimetros.quadril }}">

        <label>Antebraço Direito</label>
        <input type="text" name="antebraco_direito" value="{{ perimetros.antebraco_direito }}">

        <label>Antebraço Esquerdo</label>
        <input type="text" name="antebraco_esquerdo" value="{{ perimetros.antebraco_esquerdo }}">

        <label>Braço Contraído Direito</label>
        <input type="text" name="braco_contraido_direito" value="{{ perimetros.braco_contraido_direito }}">

        <label>Braço Contraído Esquerdo</label>
        <input type="text" name="braco_contraido_esquerdo" value="{{ perimetros.braco_contraido_esquerdo }}">

        <label>Coxa Direita</label>
        <input type="text" name="coxa_direita" value="{{ perimetros.coxa_direita }}">

        <label>Coxa Esquerda</label>
        <input type="text" name="coxa_esquerda" value="{{ perimetros.coxa_esquerda }}">

        <label>Panturrilha Direita</label>
        <input type="text" name="panturrilha_direita" value="{{ perimetros.panturrilha_direita }}">

        <label>Panturrilha Esquerda</label>
        <input type="text" name="panturrilha_esquerda" value="{{ perimetros.panturrilha_esquerda }}">

        <button type="submit">Salvar Alterações</button>

    </form>

</div>

<a class="acao" href="/avaliacao-fisica">Voltar</a>

{% endblock %}