{% extends "index.html" %}

{% block content %}

<h2>Registrar Refeição</h2>

<div class="form">

    <form method="POST">
    
        <label>Alimento:</label>
        
        <input type="text" name="alimento" list="lista_alimentos" placeholder="Digite o nome do alimento..." autocomplete="off" required>
        
        <datalist id="lista_alimentos">
            {% for ex in refeicoes %}
                <option value="{{ ex.alimento }}">
            {% endfor %}
        </datalist>
    
        <label>Quantidade (g ou unidade):</label>
        <input type="text" name="quantidade" required>
    
        <button type="submit" name="acao" value="salvar">Salvar</button>
    
    </form>
</div>

<form method="POST">
    <label>Data início</label>
    <input type="date" name="data_inicio">
    <label>Data final</label>
    <input type="date" name="data_final">
    <button type="submit" name="acao" value="filtrar">Filtrar</button>
</form>

<h2>Refeições Adicionadas</h2>

<div class="lista">
    <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Alimento</th>
            <th>Quantidade</th>
            <th>Calorias</th>
            <th>Proteínas</th>
            <th>Ações</th>
          </tr> 
        </thead>
        <tbody>
            
            {% for ex in lista %}
            <tr>
                <td>{{ ex.data }}</td>
                <td>{{ ex.hora }}</td>
                <td>{{ ex.alimento }}</td>
                <td>{{ ex.quantidade }}</td>
                <td>{{ ex.calorias }}</td>
                <td>{{ ex.proteinas }}</td>
                <td><a class="acao" href="/editar-refeicao/{{ex['id']}}">Editar</a><a class="acao" href="/excluir-refeicao/{{ex['id']}}">Excluir</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

</div>

<a class="acao" href="/novo-alimento">Adicionar novo Alimento</a>

<a class="acao" href="/">Voltar</a>
{% endblock %}