{% extends "index.html" %}

{% block content %}

<h2>Registrar Refeição</h2>

<div class="form">

    <form method="POST">

    <label>Alimento:</label>
        
        <input type="text" name="alimento" list="lista_alimentos" value="{{refeicao.alimento}}" required>
        
        <datalist id="lista_alimentos">
            {% for ex in refeicoes %}
                <option value="{{ ex.alimento }}">
            {% endfor %}
        </datalist>
    
        <label>Quantidade (g ou unidade):</label>
        <input type="text" name="quantidade" value="{{refeicao.quantidade}}" required>
    
        <button type="submit">Salvar</button>
    
    </form>

</div>


<a class="acao" href="/alimentacao">Voltar</a>
{% endblock %}